<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.scss" />
  </head>
  <body>
    <div class="container">
      <img src="./mustang_shelby_1967.jpg" alt="Mustang Shelby 1967" />
      <div class="title">
        <h1>Mustang Shelby 1967</h1>
      </div>
      <div class="text">
        The Shelby Mustang is a high-performance variant of the Ford Mustang
        which was built by Shelby American from 1965 to 1968, and from 1969 to
        1970 by Ford. Following the introduction of the fifth generation Ford
        Mustang in 2005, the Shelby nameplate was revived as a new
        high-performance model, this time designed and built by Ford.
      </div>
      <div class="date">Published: <span>Oct 20, 2024</span></div>
      <button class="button">MORE INFO</button>
    </div>
  </body>
</html>
